.frontal {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  .img{
    height: 75%;
    background-color: black;
    background-image: url(./../img/carousel1.jpg);
    background-position: center;
    background-size: 100%;
    
  }
  h1{
    font-size: 50px;
    margin: 20px 0;
  }
  p {
    font-size: 20px;
  }
  @media (max-width:430px) {
   .img{
    background-size: 115%;
   }
  }
  @media (min-width:768px) {
    padding: 35px;
  }
}
